In [3]:
import pandas as pd

df= pd.read_csv("/content/drive/MyDrive/Social Network Analysis/attr.csv")

In [4]:
df

      betweenness  eccentricity  mean-distance
0         35060.3            67          29.51
1         25214.7            68          30.27
2          4093.2            69          31.13
3         19324.3            69          30.95
4          7850.6            68          30.48
...           ...           ...            ...
4176          0.0            33          19.76
4177          0.0            33          19.76
4178       5053.0            30          16.79
4179          0.0            32          18.77
4180          0.0            31          17.79

[4181 rows x 3 columns]

In [6]:
eccentricity=df['eccentricity']

In [7]:
eccentricity

0       67
1       68
2       69
3       69
4       68
        ..
4176    33
4177    33
4178    30
4179    32
4180    31
Name: eccentricity, Length: 4181, dtype: int64

In [8]:
mean_eccentricity= sum(eccentricity)/len(eccentricity)

In [9]:
mean_eccentricity

34.18799330303755